<div class="px-4 my-5 text-center"><!--
  <img
    class="d-block mx-auto mb-4"
    src="./logo.png"
    alt="logo"
    width="144"
    height="144"
  /> -->
  <h1 class="display-5 fw-bold text-body-emphasis">Quick starter template</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">It's a sample Glitch template based on Express and
      Bootstrap</p>
    <p class="mb-4">This is designed to be simple to edit and use.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Get
        started</button>
      <button
        type="button"
        class="btn btn-outline-secondary btn-lg px-4 gap-3"
      >Learn more</button>
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-center">

  <!-- about -->
  <div class="row py-2">
    <div class="col">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Learn more</h5>
          <p class="card-text">
            <ul>
              <li><a href="#">A link here</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- source -->
  <div class="row py-2">
    <div class="col">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Get the code</h5>
          <p class="card-text">This is a button to go to GitHub</p>
          <a
            href="https://github.com/"
            class="btn btn-secondary btn icon-link"
            role="button"
          ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-github"
              viewbox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
              ></path>
            </svg>
            GitHub</a>

        </div>
      </div>
    </div>
  </div>

</div>